* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: black;
    font-size: 60px;
}

h2 {
    color: #ff0000;
}

.navbar-brand {
    margin: 0 2rem;
}

.bonton {
    background-color: darkgreen;
    color: white;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 70px;
    font-size: 20px;
}
.container {
    display: inline-grid;
    grid-gap: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-top: 50px;
    text-align: center;
}
.containerLogin{

    grid-gap: 50px;
    padding-left: 100px;

    padding-top: 50px;
    text-align: center;

}

.cont1 {
    text-align: center;
}
.cont2 {
    text-align: center;
    align-self: center;
}
.cont3 {
    padding-top: 3rem;
}
#titulo {
    text-align: center;
}

.m-0 {
    padding-top: 50px;
    padding-bottom: 15px;
}
.pago-container {
    margin: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}