.nav_admin_container {
    background-color: darkgreen;
}

.titles_container {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid darkgreen;
}

.active_title_container {
    background-color: darkgreen;
    cursor: pointer;
}

.title_container {
    background-color: #fff;
    cursor: pointer;
}

.active_title {
    color: #fff;
    font-size: 20px;
}

.title {
    color: darkgreen;
    font-size: 20px;
}

.tournament_card {
    border-radius: 10px;
    color: #455a64;
}

.tournament_title {
    font-size: 18px;
}

.tournament_subtitle {
    font-size: 16px;
}

.tournament_button {
    background-color: darkgreen;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s;
}

.tournament_button:hover {
    background-color: #4caf50;
}
