<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-lg">
            <a class="navbar-brand text-uppercase" th:href="@{/admin/panel}">Admin</a>

            <ul class="navbar-nav ms-auto flex-row gap-5">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/panel}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/equipos}">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/torneos}">Torneos</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" th:href="@{/logout}">Cerrar Sesion</a>
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-trophy"></i>
                                <a class="nav-link" th:href="@{/admin/torneos}">Crear Torneo</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-people"></i>
                                <a class="nav-link" th:href="@{/admin/equipos}">Gestionar Equipos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-person"></i>
                                <a class="nav-link" th:href="@{/admin/jugadores}">Gestionar Jugadores</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-calendar"></i>
                                <a class="nav-link" th:href="@{/admin/partidos}">Gestionar Partidos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-person"></i>
                                <a class="nav-link" th:href="@{/admin/arbitros}">Gestionar Arbitros</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-geo-alt"></i>
                                <a class="nav-link" th:href="@{/admin/canchas}">Gestionar Canchas</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-exclamation-triangle"></i>
                                <a class="nav-link" th:href="@{/admin/sanciones}">Asignar Sanciones</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-trophy"></i>
                                <a class="nav-link" th:href="@{/admin/resultados}">Gestionar Resultados</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-cash
                                "></i>
                                <a class="nav-link" th:href="@{/admin/transacciones}">Historial de Transacciones</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-box-arrow-right"></i>
                                <a class="nav-link" th:href="@{/logout}">Cerrar Sesion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
