<div
  th:fragment="tournamentCard(title, prize, date, location, referee)"
  class="tournament_card col-5 shadow m-3"
>
  <div class="col-12 text-center py-3">
    <h3 class="tournament_title" th:text="${title}">Torneo de Ejemplo</h3>
  </div>
  <div
    class="col-12 d-flex justify-content-center align-items-center flex-wrap"
  >
    <div
      class="col-5 m-0 mb-3 p-2 d-flex justify-content-center align-items-center"
    >
      <i class="bi bi-trophy"></i>
      <p class="tournament_subtitle m-0 ms-2" th:text="${prize}">$50.000</p>
    </div>
    <div
      class="col-5 m-0 mb-3 p-2 d-flex justify-content-center align-items-center"
    >
      <i class="bi bi-calendar"></i>
      <p class="tournament_subtitle m-0 ms-2" th:text="${date}">01/01/2023</p>
    </div>
    <div
      class="col-5 m-0 mb-3 p-2 d-flex justify-content-center align-items-center"
    >
      <i class="bi bi-geo-alt"></i>
      <p class="tournament_subtitle m-0 ms-2" th:text="${location}">
        Cancha Ejemplo
      </p>
    </div>
    <div
      class="col-5 m-0 mb-3 p-2 d-flex justify-content-center align-items-center"
    >
      <i class="bi bi-person-check"></i>
      <p class="tournament_subtitle m-0 ms-2" th:text="${referee}">
        Arbitro Ejemplo
      </p>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <button class="col-11 tournament_button py-2 my-3">Consultar Torneo</button>
  </div>
</div>
