<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cargar Dinero en la Cuenta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header th:replace="~{includes/userHeader :: header}"></header>

    <div class="container my-5">
        <h1 class="text-center mb-4">Cargar Dinero en la Cuenta</h1>

        <form th:action="@{/procesar-cargar-dinero}" method="post" th:object="${carga}">
            <div class="mb-3">
                <label for="monto" class="form-label">Monto a Cargar</label>
                <input type="number" class="form-control" id="monto" name="monto" required min="1" step="any" placeholder="Ingrese el monto a cargar">
            </div>

            <div class="mb-3">
                <label for="metodoPago" class="form-label">Metodo de Pago</label>
                <select id="metodoPago" name="metodoPago" class="form-select" required>
                    <option value="tarjeta">Tarjeta de Credito/Debito</option>
                    <option value="transferencia">Transferencia Bancaria</option>
                    <option value="paypal">PayPal</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">Cargar Dinero</button>
        </form>

        <!-- Mostrar el saldo actual del usuario -->
        <div class="mt-4">
            <h2>Saldo Actual</h2>
            <p class="lead">Tu saldo es: <span th:text="${usuario.saldo}">0.00</span> ARG</p>
        </div>
    </div>
    
	<!-- Bootstrap core JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
