<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Jugadores</title>

    <!-- Boostrap core css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
<header th:replace="~{includes/userHeader :: header}"></header>


<main class="container-lg">
    <h1 class="my-4 text-center">Edicion de Jugadores</h1>
<!--    <a type="submit" class="btn btn-primary" th:href="@{/directorTecnico.html}" >Menu</a>-->


    <h2>Jugadores</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Posicion</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(jugadores)}">
            <td colspan="4" class="text-center">No hay jugadores registrados</td>
        </tr>
        <tr th:each="jugador : ${jugadores}">
            <td th:text="${jugador.getNombreYapellido()}"></td>

            <td th:text="${jugador.getPosicion()}"></td>
            <td>
                <a href="#" class="btn btn-primary btn-editar" th:data-id="${jugador.id}">Editar</a>

                <a th:href="@{/edicionJugador/eliminar/{id}(id=${jugador.id})}" class="btn btn-danger">Eliminar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a type="submit" class="btnLogin btn btn-sm btn-primary btn-block mb-3" th:href="@{/directorTecnico.html}" >Volver al Menu</a>
    </div>

</main>

<!-- Modal de Edición -->
<div class="modal fade" id="editarJugadorModal" tabindex="-1" aria-labelledby="editarJugadorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarJugadorModalLabel">Editar Jugador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post" id="editarJugadorForm">
                    <input type="hidden" name="id" id="id"> <!-- Campo oculto para el ID del jugador -->

                    <div class="row">
                        <div class="col-6">
                            <label for="nombre">Nombre y apellido del Jugador</label>
                            <input type="text" name="nombre" id="nombre"  class="form-control mb-3" placeholder="Ingrese Nombre y Apellido" required>
                        </div>

                        <div>
                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                            <input type="date" name="fechaNacimiento" id="fechaNacimiento"  class="form-control mb-3" required>
                            <div id="edadAdvertencia" class="text-danger" style="display: none;">Debe ser mayor de 18 años para anotarse.</div>
                        </div>

                        <div>
                            <label for="posicion" class="form-label">Posición</label>
                            <select id="posicion"  name="posicion" class="form-select mb-3" required>
                                <option value="ARQUERO">Arquero</option>
                                <option value="DEFENSA">Defensa</option>
                                <option value="MEDIOCAMPISTA">Mediocampista</option>
                                <option value="DELANTERO">Delantero</option>
                            </select>
                        </div>

                        <div>
                            <label for="dni">DNI</label>
                            <input id="dni" name="dni" type="text" class="form-control mb-3" placeholder="DNI" required>
                        </div>

                        <div>
                            <label for="direccion">Dirección</label>
                            <input id="direccion" name="direccion" type="text" placeholder="Ingrese dirección" class="form-select mb-3">
                        </div>

                        <div>
                            <label for="email">Email</label>
                            <input  id="email" name="email" type="email" class="form-control mb-3" placeholder="Email" required>
                        </div>

                        <div>
                            <label for="telefono">Número de Teléfono</label>
                            <input  id="telefono" name="telefono" type="text" class="form-control mb-3" placeholder="Teléfono" required>
                        </div>

                        <div>
                            <label for="numero">Número de Camiseta</label>
                            <input  id="numero" name="numero" type="text" class="form-control mb-3" placeholder="Número de Camiseta" required>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary" type="submit">Modificar Jugador</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal = new bootstrap.Modal(document.getElementById('editarJugadorModal'));
        let jugadorId = null;

        document.querySelectorAll('.btn-editar').forEach(button => {
            button.addEventListener('click', (event) => {
                jugadorId = button.getAttribute('data-id');
                console.log(jugadorId);
             //   window.location.href = `/spring/edicionJugador/editar/${jugadorId}`
                fetch(`/spring/edicionJugador/editar/${jugadorId}`)


                        .then(response => {
                        if (!response.ok){
                            throw new Error("Error al obtener los datos del Jugador");
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        document.getElementById("id").value = data.id;
                        document.getElementById("nombre").value = data.nombreYapellido;
                        document.getElementById("fechaNacimiento").value = new Date(data.fechaNacimiento).toISOString().split('T')[0];
                        document.getElementById("dni").value = data.dni;
                        document.getElementById("direccion").value = data.direccion;
                        document.getElementById("posicion").value = data.posicion;
                        document.getElementById("numero").value = data.numeroCamiseta;
                        document.getElementById(("telefono")).value = data.telefono;
                        document.getElementById("email").value = data.email;
                        modal.show();
                    })
                    .catch(error => {
                        console.error("Error l obtener lo datos del jugador", error);
                        alert("No se pudo cargar la info del jugador");
                    });
            });

        });
        document.getElementById('editarJugadorForm').addEventListener('submit',(event) =>{
            event.preventDefault();

            //crea un objeto par poner los datos
            const formularioDatos = new FormData(event.target);
            const dataObject = {};
            formularioDatos.forEach((value, key) => {
                dataObject[key] = value;
            });
            console.log(dataObject);

            fetch('edicionJugador/editar',{
                method : "POST",

                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(dataObject)
            })
                .then(response => {
                    console.log("respuesta del servidor", response);
                    if (!response.ok) {
                        throw new Error("Error al actualizar Jugador");
                    }
                    return response.json();
                })
                .then(data =>{
                    console.log("datos recibidos",data)

                    modal.hide();
                    window.location.reload();
                })
                .catch(error =>{
                    console.error("Error al cargar el jugador",error);
                    alert ("Hubo un error al modificar");
                });
        });
    });
</script>





Boostrap core js
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>