<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>



<h1 id="titulo">EQUIPOS</h1>


<article>

  <a href="/equipoDetalle">

<div>
  <h2>EQUIPO1</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque urna a euismod semper. Integer porttitor lectus sit amet felis auctor pretium. </p>
</div>

  </a>
</article>

</body>
</html>