<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taller Web I</title>

    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1 id="titulo">Formulario de creación de equipo</h1>

<form method="post" th:action="@{/equipos/crearEquipo}" enctype="multipart/form-data">
    <label>Ingresa el nombre de tu equipo: </label>
    <input type="text" name="nombre">

    <label>Ingresa tu CBU: </label>
    <input type="text" name="numeroCbu">

    <label>Ingresa tu DNI: </label>
    <input type="number" name="dtDni">

    <button type="submit">ENVIAR</button>
</form>
</body>
</html>