<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Partidos</title>

    <!-- Boostrap core css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
    <header th:replace="~{includes/header :: header}"></header>

    <main class="container-lg">
        <h1 class="my-4 text-center">Gestion de Partidos</h1>

        <form th:action="@{/admin/partidos/crear}" method="post" class="mb-4" th:object="${partido}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fecha" class="form-label">Fecha del Partido</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="hora" class="form-label">Hora del Partido</label>
                    <input type="time" id="hora" name="hora" class="form-control" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="equipoLocal" class="form-label">Equipo 1</label>
                    <select id="equipoLocal" name="equipoLocal" class="form-select" required>
                        <option th:each="equipo : ${equipos}" th:value="${equipo.id}" th:text="${equipo.nombre}">
                        </option>
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="equipoVisitante" class="form-label">Equipo 2</label>
                    <select id="equipoVisitante" name="equipoVisitante" class="form-select" required>
                        <option th:each="equipo : ${equipos}" th:value="${equipo.id}" th:text="${equipo.nombre}">
                        </option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Crear Partido</button>
        </form>

        <h2>Partidos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Equipo Local</th>
                    <th>Equipo Visitante</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(partidos)}">
                    <td colspan="5" class="text-center">No hay partidos registrados</td>
                </tr>
                <tr th:each="partido : ${partidos}">
                    <td th:text="${#dates.format(partido.fecha, 'dd/MM/yyyy')}"></td>
                    <td th:text="${partido.hora}"></td>
                    <td th:text="${partido.equipoLocal.nombre}"></td>
                    <td th:text="${partido.equipoVisitante.nombre}"></td>
                    <td>
                        <a th:href="@{/admin/partidos/editar/{id}(id=${partido.id})}" class="btn btn-primary">Editar</a>
                        <a th:href="@{/admin/partidos/eliminar/{id}(id=${partido.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    <!-- Boostrap core js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>